#resize-element {
  width: 700px;
  height: 200px;
  border: 2px solid #ffffff;
  resize: horizontal;
  overflow: auto;
  padding: 10px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15%;
  background-color: black;
  transition: background-color 0.5s ease;
  border-radius: 50px;
}
.square {
  width: 150px;
  height: 150px;
  background-color: #eeff00;
  transition: background-color 0.5s ease;
  border-radius: 15px;
  text-align: center;
}

.sText {
  color: rgb(0, 0, 0);
  font-size: 18px;
}